.form-control {

    width: 100%;
    position: relative;

    input[type=text] ,
    textarea,
    input[type=password] {
        margin: 10px 0;
        height: 40px;
        padding: 0 10px;
        width: 100%;

        font-weight: 400;
    }

    textarea{
        padding: 10px;
    }

}

input[type=submit]{
    font-size: inherit;
} 