.message-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: flex-start;

    align-self: flex-start;

    img {
        border-radius: 50%;
        height: 45px;
        margin: 0 5px;
    }

    &-me {
        align-self: flex-end;
    }
}

.message-content {
    display: flex;

    &-me {
        align-self: flex-end;
        flex-direction: row-reverse;
    }
}

.message-card-me {
    align-items: flex;
}

.message-card-text {
    background-color:  var(--message-text);
    color: white;
    width: 60%;
    text-align: left;
    padding: 10px;
    border-radius: 15px;
    width: 100%;


    &-me {
        background-color: var(--message-text-me);
        color: black;
    }
}

.message-card-owner-container{
    display: flex;
    flex-direction: column;


    :nth-child(2) {
        color:rgb(124, 120, 120);
        font-size: 10px;
        font-weight: 700;
    }
}

.message-card-text-container{
    display: flex;
    flex-direction: column;

    width: 100%;

    :nth-child(2) {
        color:rgb(124, 120, 120);
        font-size: 10px;
    }
}