.nav{
   ul {
        display: flex;
        align-items: center;
   }

   li {
        margin: 0 20px;
        position: relative;

        &:hover,
        &:active,
        &.active {
            font-weight: 500;

            &::after {
                content: '.';
                position: absolute;
                bottom: 0;
                left: 45%;
                font-size: 35px;
            }
        }
   }

   a {
        display:inline-block;
       height: 100%;
       padding: 20px 0;
   }

}