.login-page,
.register-page,
.verify-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;

    font-weight: 700;

    @media only screen and (max-width: 693px) {
       padding: 0;

        .card {
            box-shadow:none
        }
    }
}