.home {
    display: grid;
    grid-template-columns: minmax(400px, 20%) auto;
    grid-template-rows: auto 1fr;
    position: relative;

    &__header {
        grid-column: 1/3;
        @include theme-aware('background-color', 'color-white');
        box-shadow: 0px 0px 8px rgba(0,0,0,.6);
    }

    &__drawer {
        grid-column: 1/1;
        box-shadow: 0px 0px 8px rgba(0,0,0,.6);
        height: 100vh;
        margin-top: -$header-height;
        padding-top: $header-height + 15px;
    }

    &__content {
        grid-column: 2/3;
    }

    @media screen and (max-width: map-get($breakpoints, 'medium')) {
        display: flex;
        flex-direction: column;

        &__content {
            display: none;
        }
    }
}

.home.close-drawer {
    .home__drawer{
        display: none;
    }
    .home__content {
        display: block;
    }
}