.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1rem;
    z-index: 10;
    height: $header-height;

    &__logo {}

    @media screen and (max-width: map-get($breakpoints, 'medium')) {
        &__logo {
            display: none!important;
        }
    }
}