// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
$themes: (
    light: (
        color-background: #fff,
        color-white: #fff,
        color-gray:#f5f8fa,
        color-gray2:#b5b5c3,
        color-gray3:#F6F7FB,
        color-gray4:#9DA0A5,
        color-gray5:#6D757C,
        color-dark:#27292b,
        color-primary: #3a7fee,
        color-danger: #ee3a43,
        color-success: #3aeeee,
    ),
    dark: (
        color-background: #37474F,
        color-white: #fff,
        color-gray:#f5f8fa,
        color-gray2:#b5b5c3,
        color-gray3:#F6F7FB,
        color-gray4:#9DA0A5,
        color-gray5:#6D757C,
        color-dark:#27292b,
        color-primary: #3a7fee,
        color-danger: #ee3a43,
        color-success: #3aeeee,
    )
);