// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$breakpoints: (
    "xm": 350px, 
    "sm": 576px, 
    "medium": 768px, 
    "lg": 992px, 
    "xl": 1200px, 
    "xxl": 1400px, 
);

$header-height:60px;
$right-drawer-width:300px;