// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$container: (
    "xm": 100%, 
    "sm": 540px, 
    "medium": 720px, 
    "lg": 960px, 
    "xl": 1140px, 
    "xxl": 1320px, 
);

$breakpoints: (
    "xm": 576px, 
    "sm": 576px, 
    "medium": 768px, 
    "lg": 992px, 
    "xl": 1200px, 
    "xxl": 1400px, 
);

$header-height:60px;